.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}

.contentBody {
  flex-grow: 1;
}

.header {
  position: sticky;
  top: 0;
  width: 100%;
}

.footer {
  position: sticky;
  bottom: 0;
  width: 100%;
}
