.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  place-items: center;
  row-gap: 24px;
  column-gap: 16px;
  align-items: start;
}

@media (min-width: 720px) and (max-width: 1100px) {
  .container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 480px) and (max-width: 719px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 479px) {
  .container {
    grid-template-columns: repeat(1, 1fr);
  }
}
