{
  "presets": [
    [
      "@babel/preset-env",
      { "targets": { "browsers": ["last 2 versions", ">= 5% in KR"] } }
    ],
    "@babel/react",
    "@babel/preset-typescript"
  ],
  "plugins": [
    [
      "babel-plugin-root-import",
      {
        "rootPathPrefix": "@",
        "rootPathSuffix": "src"
      }
    ]
  ],
  "env": {
    "development": {
      "plugins": ["babel-plugin-styled-components"]
    }
  }
}

// babel로 컴파일을 할 때, target을 지정
// 브라우저의 상위 버전 두 개(IE 11, 10)과
// 한국 5% 이상의 점유율을 가지고 있는 브라우저에 대응하도록 컴파일 설정
// @babel/react를 통해 react도 컴파일 할 수 있도록 설정
// babel, babelrc 이란 무엇인가?
// https://tecoble.techcourse.co.kr/post/2021-07-07-babel/#:~:text=.babelrc%20%EB%8A%94%20%EC%A3%BC%EB%A1%9C%20%ED%95%98%EC%9C%84%20%EB%94%94%EB%A0%89%ED%86%A0%EB%A6%AC,%EB%B3%B4%EB%8B%A4%20%EB%B3%B4%ED%8E%B8%EC%A0%81%EC%9C%BC%EB%A1%9C%20%EC%82%AC%EC%9A%A9%EB%90%A9%EB%8B%88%EB%8B%A4.

// babel-plugin-styled-components
// development 환경일 경우 class 명을 구별하기 쉽도록
// babel-plugin-styled-components를 설정
// product환경일 경우 class명을 hash화
