{
  "extends": ["react-app", "react-app/jest"],
  "overrides": [
    {
      "files": ["**/*.stories.*"],
      "rules": {
        "import/no-anonymous-default-export": "off"
      }
    }
  ],
  "rules": {
    "import/order": [
      "error",
      {
        "groups": [
          "type",
          "builtin",
          "external",
          "internal",
          "parent",
          "sibling",
          "index",
          "unknown"
        ],
        "pathGroups": [
          {
            "pattern": "react*",
            "group": "external",
            "position": "before"
          },
          {
            "pattern": "@recoil/**",
            "group": "internal",
            "position": "after"
          },
          {
            "pattern": "@router",
            "group": "internal",
            "position": "after"
          },
          {
            "pattern": "@hooks/**",
            "group": "internal",
            "position": "after"
          },
          {
            "pattern": "@pages/**",
            "group": "internal",
            "position": "after"
          },
          {
            "pattern": "@components/**",
            "group": "internal",
            "position": "after"
          },
          {
            "pattern": "@type/**",
            "group": "internal",
            "position": "after"
          },
          {
            "pattern": "@utils/**",
            "group": "internal",
            "position": "after"
          },
          {
            "pattern": "@constants",
            "group": "internal",
            "position": "after"
          },
          {
            "pattern": "@constants/**",
            "group": "internal",
            "position": "after"
          },
          {
            "pattern": "@assets",
            "group": "internal",
            "position": "after"
          },
          {
            "pattern": "@assets/**",
            "group": "internal",
            "position": "after"
          },
          {
            "pattern": "@styles/**",
            "group": "internal",
            "position": "after"
          }
        ],
        "alphabetize": {
          "caseInsensitive": true,
          "order": "asc"
        },
        "pathGroupsExcludedImportTypes": []
      }
    ]
  }
}
