// eslint + prettier 설정 참조 링크 
// https://flamingotiger.github.io/javascript/eslint-setup/
// https://www.daleseo.com/eslint-config/
{
  "root": true,
  "env": {
    "browser": true,
    "node": true
  },
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "react-hooks"],
  "extends": [
    "airbnb-base",
    "plugin:react/recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended",
    "prettier"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "sourceType": "module",
    "ecmaVersion": 11
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "ignorePatterns": ["build", "dist", "public", "webpack.config.js"],
  "rules": {
    "no-console": "warn",
    "import/prefer-default-export": "off",
    "import/no-unresolved": "off",
    "import/extensions": "off",
    "import/no-extraneous-dependencies": "off",
    "react/prop-types": 0
  }
}