# Created by https://www.toptal.com/developers/gitignore/api/react,storybookjs
# Edit at https://www.toptal.com/developers/gitignore?templates=react,storybookjs

### react ###
.DS_*
*.log
logs
**/*.backup.*
**/*.back.*

node_modules
bower_components

*.sublime*

psd
thumb
sketch

/build
/dist

### StorybookJs ###
# gitignore template for the Storybook, UI guide for front apps
# website: https://storybook.js.org/

storybook-static/

# End of https://www.toptal.com/developers/gitignore/api/react,storybookjs
