.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.mainText {
  font-family: Noto Sans KR;
  font-size: 24px;
  font-weight: 700;
  line-height: 34.75px;
}

.orderInfoContainer {
  font-family: Noto Sans;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  margin-top: 24px;
}

.totalAmount {
  font-family: Noto Sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  text-align: center;
  margin-top: 24px;
}

.totalAmountText {
  margin-bottom: 12px;
}

.totalAmountNumber {
  font-family: Noto Sans KR;
  font-size: 24px;
  font-weight: 700;
  line-height: 34.75px;
  text-align: center;
}
