.container {
  display: grid;
  grid-template-columns: repeat(4, 242px);
  gap: 72px 48px;
}

@media screen and (max-width: 1124px) {
  .container {
    grid-template-columns: repeat(3, 242px);
  }
}

@media screen and (max-width: 842px) {
  .container {
    grid-template-columns: repeat(2, 242px);
  }
}
