.container {
  display: grid;
  grid-template-columns: repeat(4, minmax(242px, 1fr));
  gap: 72px 48px;
}

@media screen and (max-width: 1124px) {
  .container {
    grid-template-columns: repeat(3, minmax(242px, 1fr));
  }
}

@media screen and (max-width: 842px) {
  .container {
    grid-template-columns: repeat(2, minmax(242px, 1fr));
  }
}
