/* common */
.cartContentWrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* CartPage */
.cartBodyWrapper {
  display: flex;
  flex-direction: column;
  gap: 36px;
  padding: 36px 24px 40px 24px;
  height: calc(100vh - 100px);
  overflow-y: scroll;
}

.noneProductContainer {
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* CartItem */
.cartItemContainer {
  border-top: var(--border-divider);
}

.cartItemInputButtonContainer {
  display: flex;
  justify-content: space-between;
  margin: 12px 0;
}

.itemImageAndInfoContainer {
  display: flex;
  margin-bottom: 20px;
}

.itemImage {
  width: 112px;
  height: 112px;
  border-radius: 8px;
  margin-right: 24px;
}

.itemInfoContainer {
  display: flex;
  flex-direction: column;
}

.deleteButton {
  border: var(--border-divider);
  background: var(--background-color);
  border-radius: 4px;
  padding: 4px 8px;
}

.plusMinusButtonContainer {
  margin-top: 24px;
}

.plusMinusButton {
  width: 24px;
  height: 24px;
  border-radius: 8px;
  background: var(--background-color);
  border: var(--border-divider);
}

.allCheckContainer {
  display: flex;
  align-items: center;
}

.allCheckText {
  display: flex;
  align-items: center;
  margin-left: 8px;
}

/* CartTotals */
.cartTotalsContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-bottom: 40px;
}

.addProductButton {
  position: absolute;
  top: 10px;
  right: 15px;
  width: 200px;
  padding: 10px;
  border-radius: 5px;
  font-size: 10px;
  font-weight: 700;
}
