/* common */
.cartContentWrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.titleText {
  font-family: Noto Sans KR;
  font-size: 24px;
  font-weight: 700;
  line-height: 34.75px;
  text-align: left;
}

.subtitleText {
  font-family: Noto Sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  text-align: left;
}

.labelText {
  font-family: Noto Sans;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  text-align: left;
}

/* CartPage */
.cartBodyWrapper {
  display: flex;
  flex-direction: column;
  gap: 36px;
  padding: 36px 24px 40px 24px;
  height: calc(100vh - 100px);
  overflow-y: scroll;
}

/* CartTitle */
.cartTitleCaption {
  font-family: Noto Sans;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  text-align: left;
}

/* CartItem */
.cartItemContainer {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.cartItemInputButtonContainer {
  display: flex;
  justify-content: space-between;
  margin: 12px 0;
}

.itemImageAndInfoContaner {
  display: flex;
  margin-bottom: 20px;
}

.itemImage {
  width: 112px;
  height: 112px;
  border-radius: 8px;
  margin-right: 24px;
}

.itemInfoContainer {
  display: flex;
  flex-direction: column;
}

.name {
  font-family: Noto Sans;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  text-align: left;
}

.deleteButton {
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 1);
  border-radius: 4px;
  font-family: Noto Sans;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  text-align: left;
  padding: 4px 8px;
}

.plusMinusButtonContainer {
  margin-top: 24px;
}

.plusMinusButton {
  width: 24px;
  height: 24px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 1);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.allCheckContainer {
  display: flex;
  align-items: center;
}

.allCheckText {
  display: flex;
  align-items: center;
  margin-left: 8px;
  font-family: Noto Sans;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  text-align: left;
}

/* 체크박스 초기에 none */

.customCheckbox {
  display: none;
}

/* 커스텀 체크박스 스타일 */
.customCheckboxLabel {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: white;
  border: 2px solid black;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
}

/* 체크된 상태의 커스텀 체크박스 스타일 */
.customCheckbox:checked + .customCheckboxLabel::after {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 12px;
  height: 12px;
  background-color: black;
  border-radius: 2px;
}

/* CartTotals */
.cartTotalsNoticeWrapper {
  display: flex;
  justify-content: flex-start;
  gap: 4px;
}

.cartTotalsWrapper {
  padding-top: 12px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.cartToTalsTextWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 13px 0;
}
