$lite:  black;
$size: 48px;

.thumbnail {
  position: relative;
  min-width: 100px;
  min-height: 100px;
  
  img {
    width: 100%;
    object-fit: cover;
  }
}

@keyframes rotation {
  0% { transform: rotate(0deg) }
  100% { transform: rotate(360deg) }
}

.indicatorWrapper {
  position: absolute;
  z-index: 999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.indicator {
  width : $size;
  height: $size;
  border: 5px dotted $lite;
  border-radius: 50%;
  animation: rotation 2s linear infinite;
}
