.container {
  width: fit-content;
  border: 1px solid #dedede;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
}

.container > * {
  font-size: 16px;
}

.container button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
}

.container button:disabled > svg > path {
  stroke: #7b7b7b;
}

.count {
  width: 40px;
  height: 24px;
  font-weight: 400;
  text-align: center;
  border: none;
  padding: 0;
  margin: 0;
  outline: none;
}
