@import "@scss/colors";
@import "@scss/no-style";

.menu {
  display: inline-flex;
  ul {
    @include ul-no-style;
    display: flex;
    align-items: center;
    li {
      padding: 0 25px;
      a {
        @include a-no-style;
        display: block;
        padding: 10px 0;
        font-size: 20px;
        line-height: 20px;
        color: white;
        &:hover {
          color: rgb(220, 220, 220);
        }
      }
    }
  }
}
