.title {
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 32px;
  letter-spacing: 0.5px;
  margin: 30px 0;
}

.cart-container {
  display: flex;
  justify-content: center;
  padding-top: 40px;
  margin: 30px 82px 0 82px;
  border-top: solid 3px var(--primary-color);
}
