.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  row-gap: 32px;
  letter-spacing: 0.5px;
  width: 90%;

  color: #333333;
}

.title {
  font-weight: 700;
  font-size: 32px;
  line-height: 37px;
  width: 100%;

  padding: 28px 0;
  border-bottom: 4px solid var(--primary-color);
}

.main-view {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
