.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  row-gap: 32px;
  letter-spacing: 0.5px;
  width: 90%;

  color: #333333;
}

.title {
  font-weight: 700;
  font-size: 32px;
  line-height: 37px;
  width: 100%;

  padding: 28px 0;
  border-bottom: 4px solid var(--primary-color);
}

.main-view {
  display: grid;
  width: 100%;
  grid-template-columns: 2fr 1fr;

  column-gap: 32px;
}

@media screen and (max-width: 1024px) {
  .main-view {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    margin-bottom: 32px;
  }
}

.main-view-blank {
  display: flex;
  flex-direction: column;
  row-gap: 24px;

  align-items: center;
  width: 100%;
  justify-content: center;

  & > p {
    font-weight: 700;
    font-size: 28px;
  }
}
