@font-face {
  font-family: 'Kirang Haerang';
  font-style: normal;
  font-weight: 400;
  src: local('Kirang Haerang'), url('styles/webfonts/KirangHaerang-Regular.woff') format('woff');
}

@font-face {
  font-family: 'NanumBarunGothic';
  font-style: bold;
  font-weight: 700;
  src: url('styles/webfonts/NanumBarunGothicWebBold.eot');
  src: url('styles/webfonts/NanumBarunGothicWebBold.eot?#iefix') format('embedded-opentype'),
    url('styles/webfonts/NanumBarunGothicWebBold.woff') format('woff'),
    url('styles/webfonts/NanumBarunGothicWebBold.ttf') format('truetype');
}

@font-face {
  font-family: 'NanumBarunGothic';
  font-style: normal;
  font-weight: 400;
  src: url('styles/webfonts/NanumBarunGothicWeb.eot');
  src: url('styles/webfonts/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'),
    url('styles/webfonts/NanumBarunGothicWeb.woff') format('woff'),
    url('styles/webfonts/NanumBarunGothicWeb.ttf') format('truetype');
}

@font-face {
  font-family: 'NanumBarunGothic';
  font-style: normal;
  font-weight: 300;
  src: url('styles/webfonts/NanumBarunGothicWebLight.eot');
  src: url('styles/webfonts/NanumBarunGothicWebLight.eot?#iefix') format('embedded-opentype'),
    url('styles/webfonts/NanumBarunGothicWebLight.woff') format('woff'),
    url('styles/webfonts/NanumBarunGothicWebLight.ttf') format('truetype');
}
