.trigger_button {
  width: 382px;
  min-height: 48px;
  border: 1px solid rgba(51, 51, 51, 0.25);
  border-radius: 5px;
  font-family: Noto Sans KR;
  font-size: 15px;
  font-weight: 700;
  line-height: 21.72px;
  text-align: center;
  color: rgba(51, 51, 51, 0.75);
  margin: 24px 0;
}

.trigger_button:hover {
  opacity: 0.7;
  transition: 0.3s all ease;
}

.content_container {
  width: 382px;
  height: 614px;
  top: 161px;
  left: 24px;
  padding: 24px 32px 24px 32px;
  gap: 32px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 1);
}

.wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.coupon_list_container {
  width: 100%;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(400px) scale(0.75);
  }

  75% {
    opacity: 1;
    transform: translateY(-16px) scale(1);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }

  75% {
    opacity: 1;
    transform: translateY(-16px) scale(1);
  }

  100% {
    opacity: 0;
    transform: translateY(400px) scale(0.75);
  }
}

.modal_enter {
  animation: fadeIn 0.3s forwards;
}

.modal_exit {
  animation: fadeOut 0.3s forwards;
}
