.button {
  width: 318px;
  height: 44px;
  gap: 0px;
  border-radius: 5px;
  opacity: 0px;
  background: rgba(51, 51, 51, 1);
  color: rgba(255, 255, 255, 1);
  font-family: Noto Sans KR;
  font-size: 15px;
  font-weight: 700;
  line-height: 21.72px;
  text-align: center;
}

.button :hover {
  opacity: 0.2;
  transition: all 0.3s ease;
}
