.container {
  position: absolute;
  top: 0;
  z-index: 3;
}

.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.15);
  cursor: pointer;
  animation: showAnimation 0.2s;
}

.content {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  padding: 24px;
  background-color: white;
  border-radius: 8px;
  animation: showAnimation 0.2s ease-in 0.05s forwards;
  opacity: 0;
}
.informationContainertwo {
  width: 100%;
}

@keyframes showAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 479px) {
  .content {
    position: fixed;
    display: flex;
    bottom: 0%;
    transform: translateX(-50%);
    width: 100%;
    padding: 15px;
    background-color: white;
    border-radius: 8px;
  }
}
