.titleWrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.bodyContainer {
  display: flex;
  flex-direction: column;
  gap: 36px;
  padding: 36px 24px 40px 24px;
  height: calc(100vh - 100px);
  overflow-y: scroll;
}

.itemContainer {
  display: flex;
  padding: 12px 0;
  border-top: var(--border-divider);
}

.itemImage {
  width: 112px;
  height: 112px;
  border-radius: 8px;
  margin-right: 24px;
}

.itemInfoContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.itemNameAndPriceContainer {
  display: flex;
  flex-direction: column;
  padding-top: 9px;
}

.checkoutModalButton {
  width: 100%;
  padding: 15px 0px;
  border-radius: 5px;
  border: 1px solid rgba(51, 51, 51, 0.25);
  text-align: center;
  color: var(--disable-color);
}

/* ShippingFeeCheckContainer */
.shippingFeeCheckContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.checkboxContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}

/* CheckoutTotals */
.checkoutTotalsContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-bottom: 40px;
}
