@import "../../scss/no-style.scss";
@import "../../scss/colors.scss";

.header {
  background-color: $green900;
  margin-bottom: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
  padding: 15px 0;
}

.siteLogo {
  @include a-no-style;
  overflow: hidden;
  display: flex;
  align-items: center;

  .title {
    padding-left: 15px;
    font-weight: 900;
    font-size: 40px;
    height: 48px;
    line-height: 58px;
    text-align: center;
    color: white;  
  }
}
