button {
  font-weight: 500;
  line-height: 12px;
  font-size: 24px;
}

.container {
  font-family: 'Noto Sans KR';
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 96px;
  color: var(--white-color);
  background-color: var(--white-color-001);
  border-bottom: 2px solid var(--white-color-002);
}

.cart {
  display: flex;
  align-items: center;
}

.cart-count {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: var(--mint-color);
}
