header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 24px 0;
  background-color: white;
  border-bottom: 1px solid #e9e9e9;
  z-index: 2;
}

.container {
  position: relative;
  width: 1080px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container img {
  height: 48px;
}

.container button {
  position: absolute;
  right: 0;
}

.cartItemCount {
  display: inline-block;
  width: 24px;
  height: 24px;
  color: #ffffff;
  background-color: #04c09e;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
