header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 24px 0;
  background-color: white;
  border-bottom: 1px solid #e9e9e9;
  z-index: 2;
}

.container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 48px;
  cursor: pointer;
}

.container button {
  position: absolute;
  right: 0;
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  cursor: pointer;
}

.cartItemCount {
  position: absolute;
  height: 14px;
  right: 10px;
  top: 9px;
  padding: 0px 4px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgb(255, 102, 16);
  color: white;
  text-align: center;
  font-size: 10px;
  line-height: 12px;
  border-radius: 7px;
  letter-spacing: -0.2px;
  font-weight: 600;
  white-space: nowrap;
  pointer-events: none;
  transform: translateX(calc(50% - 7px));
}

.cartIcon {
  width: 32px;
  height: 32px;
  margin-bottom: 4px;
}

.label {
  font-size: 10px;
  font-weight: 400;
}

@media (min-width: 480px) and (max-width: 719px) {
  .logo {
    height: 40px;
  }
}

@media (max-width: 479px) {
  .logo {
    height: 36px;
  }
}
