.container {
  position: fixed;
  top: 0;
  padding: 24px 0;
  width: 1080px;
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-bottom: 1px solid #e1e1e1;
  z-index: 2;
}

.container img {
  height: 48px;
}

.container button {
  margin-left: auto;
}
