:root {
  --grey-100: #ffffff;
  --grey-200: #0000001a;
  --grey-400: #0a0d13;
  --grey-500: #000000;

  --cart-title: 700 24px/34.75px Noto Sans KR;
  --cart-subtitle: 700 16px/16px Noto Sans;
  --cart-label: 500 12px/15px Noto Sans;
}

body {
  font-family: "Noto Sans";
}
