.header {
  font-family: Noto Sans;
  font-size: 20px;
  font-weight: 800;
  line-height: 16px;
  text-align: left;
  color: #fff;
}

.footer {
  width: 100%;
  background-color: black;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 24px;
  color: #fff;
  position: absolute;
  bottom: 0;
  font-family: Noto Sans;
  font-size: 16px;
}

.disable {
  background: rgba(190, 190, 190, 1);
}
