.thumbnail {
  min-height: 295px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.indicator {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
}
