.h1 {
  font-size: 24px;
  font-weight: 700;
  line-height: 34.75px;
}
.h2 {
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
}
.b1 {
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
}
.b2 {
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
}
