.itemContainer {
  display: flex;
  flex-direction: column;
  animation: fadeIn 0.7s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.imageContainer {
  position: relative;
  width: 200px;
  height: 200px;
  margin-bottom: 10px;
}

.itemButton {
  position: absolute;
  bottom: 8px;
  right: 8px;
  width: 45px;
  height: 45px;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 4px;
  border-radius: 50%;
}

.addButton {
  background: white;
}

.addButton > svg path {
  stroke: #04c09e;
  stroke-width: 2;
}

.quantityButton {
  background: #04c09e;
  font-size: 18px;
  color: white;
  transition: all 0.2s ease-in;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
  background-color: #e9e9e9;
}

.container h4 {
  margin-top: 2px;
  font-size: 16px;
}

.name {
  font-weight: normal;
  width: 200px;
}
