.counter-container {
  display: grid;
  max-height: 26px;
  grid-template-columns: 40px 20px;
  grid-template-rows: 13px 13px;
}

.counter-container > * {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;

  border: 1px solid var(--white-color-003);
}

.counter-container > div {
  grid-row: 1 / 3;
}

input {
  width: 30px;
  height: 20px;
  border: none;
  color: var(--white-color-004);
  font-size: 5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
