* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

html,
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
}

#root {
  width: 100%;
  display: flex;
  justify-content: center;
}

main {
  position: relative;
  padding-top: 136px;
  padding-bottom: 100px;
  width: 1080px;
}

.center-hoz {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

button {
  background-color: transparent;
  border: none;
  outline: 0;
  cursor: pointer;
}

.added-message {
  position: fixed;
  bottom: 36px;
  padding: 16px 24px;
  background-color: white;
  border: 1px solid #e9e9e9;
  border-radius: 4px;
  animation: show 2.5s;
  box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.15);
}

@keyframes show {
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
