* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 430px;
  margin: 0 auto;
  background-color: #f0f0f0;
}

button {
  border: none;
  cursor: pointer;
}

div {
  margin: 0;
}
