:root {
  --color-black: #000000;
  --color-gray: #bebebe;
  --color-dark-gray: #333333bf;
  --color-white: #ffffff;

  --font-size-small: 12px;
  --font-size-medium: 16px;
  --font-size-large: 24px;

  --font-weight-bold: 700;
  --font-weight-normal: 500;
  --font-weight-light: 400;

  --max-width: 430px;
  --min-height: 710px;
}

#root {
  width: var(--max-width);
  height: 100vh;
  margin: 0 auto;
}
