$black900: #000;
$black90030: #00000030;
$black800: #333333;

$green900: #22a6a2;
$green800: #2ac1bc;
$green80050: #2AC1BC50;

$gray900: #888888;
$gray800: #aaaaaa;
$gray700: #acacac;
$gray600: #bbbbbb;
$gray500: #cccccc;
$gray400: #dddddd;
$gray300: #e5e5e5;
$gray200: #f6f6f6;

$brown900: #73675C;

$red900: #842029;
$red800: #f5c2c7;
$red700: #f8d7da;
