@mixin a-no-style {
  text-decoration: none;
  color: inherit; 
}

@mixin ul-no-style {
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    padding: 0;
    margin: 0;
  }
}

@mixin button-no-style {
  background: none;
  border: none;
  cursor: pointer;
}
