.cartItem {
  display: flex;
  margin-top: 10px;
  padding-bottom: 10px;
  background-color: #ffffff;
  border-bottom: 0.5px solid #dddddd;
}

.deleteChecker {
  width: 16px;
  height: 16px;
  border: 1px solid #04c09e;
  border-radius: 2px;
}

.deleteCheckerBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cartImage {
  width: 140px;
  height: 120px;
  padding: 10px;
  background-size: cover;
}

.productName {
  width: 100%;
  margin-top: 10px;
}

.itemCountDatas {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: end;
}
