name: Deploy static content to Pages

on:
  push:
    branches: ['step1']

  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: 'pages'
  cancel-in-progress: true

jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'
      - name: 환경 변수 설정
        run: |
          echo "VITE_BASE_URL=$VITE_BASE_URL" >> .env
          echo "VITE_USER_ID=$VITE_USER_ID" >> .env
          echo "VITE_USER_PASSWORD=$VITE_USER_PASSWORD" >> .env
        env:
          VITE_BASE_URL: ${{ secrets.VITE_BASE_URL }}
          VITE_USER_ID: ${{ secrets.VITE_USER_ID }}
          VITE_USER_PASSWORD: ${{ secrets.VITE_USER_PASSWORD }}
      - name: Install dependencies
        run: npm ci
      - name: Build
        run: npm run build
      - name: Setup Pages
        uses: actions/configure-pages@v4
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: './dist'
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
